html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
    font-weight: normal;
}

html,
body,
fieldset,
img,
iframe,
abbr {
    border: 0;
}

i,
cite,
em,
var,
address,
dfn {
    font-style: normal;
}

[hidefocus],
summary {
    outline: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
    font-size: 100%;
}

sup,
sub {
    font-size: 83%;
}

pre,
code,
kbd,
samp {
    font-family: inherit;
}

q:before,
q:after {
    content: none;
}

textarea {
    overflow: auto;
    resize: none;
}

label,
summary {
    cursor: default;
}

a,
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
    font-weight: bold;
}

del,
ins,
u,
s,
a,
a:hover {
    text-decoration: none;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
    font-size: 12px;
    line-height: 1.14;
    color: #333;
    outline: 0;
}

body {
    background: #fff;
}

a {
    color: #333;
    outline: none;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    -webkit-tap-highlight-color: transparent;
    background: #fafafa;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* font-size: 0; */
}

.hideWords {
    font-size: 0;
}

.banner {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    background: #fafafa;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.banner .logo {
    float: left;
}

.banner .logo img {
    width: 200px;
}

.banner .mark {
    display: none;
}

.banner .buttons {
    position: absolute;
    right: 40px;
    top: 30px;
}

.banner .write-button {
    float: left;
    position: relative;
    margin-right: 40px;
    -webiit-box-sizing: border-box;
    box-sizing: border-box;
    width: 132px;
    height: 44px;
    line-height: 42px;
    border: 2px solid #C2B282;
    border-radius: 100px;
    cursor: pointer;
    font-size: 18px;
    color: #C2B282;
    text-align: center;
    letter-spacing: .05px;
}

.banner .write-button:hover {
    background: #C2B282;
    color: #FFF;
}

.banner .write-button.write-answer {
    margin-right: 0;
}

.banner .blog-button {
    background-color: #C2B282;
    color: #fff;
}

.banner .blog-button:hover {
    background-color: #C2B282;
    color: #fff;
}

.banner .blog-button .blog-qr {
    display: none;
    position: absolute;
    z-index: 11;
    right: 0;
    top: 76px;
    width: 350px;
    height: 180px;
    background: #FFF url(../../images/web_blog/blog_qr.png) no-repeat;
    background-position: 20px center;
    background-size: 150px 150px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.banner .blog-button h4 {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    font-size: 24px;
    color: #151515;
    top: 17px;
    right: 67px;
    font-weight: bold;
}

.banner .blog-button .blog {
    display: block;
    position: absolute;
    width: 140px;
    height: 44px;
    line-height: 42px;
    top: 65px;
    right: 22px;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width: 775px) {
    .banner {
        position: relative;
    }
    .banner .banner-inner {}
    .banner .logo img {
        width: 140px;
    }
    .banner .mark {
        position: absolute;
        right: 10px;
        top: 28px;
        display: block;
        font-size: 14px;
        color: #666;
    }
    .banner .buttons {
        position: relative;
        top: -10px;
        left: 0;
        right: 0;
        padding: 0 10px;
    }
    .banner .write-button {
        width: 100%;
        float: left;
        margin: 0;
        border-radius: 0;
        border: 0 none;
    }
    .banner .blog-button {
        background-color: #fafafa;
        color: #C2B282;
    }
}

.page {
    background: #fafafa;
}

.page img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.fullwidth {
    width: 100%;
    min-width: 1280px;
}

.bottom {
    height: 400px;
    background: #fff;
    text-align: center;
    overflow: hidden;
}

.bottom .logo img {
    width: 185px;
    margin: 40px auto 0;
}

@media(max-width: 775px) {
    .bottom .logo img {
        width: 125px;
    }
}

.bottom .description {
    font-size: 13px;
    color: #7F7F7F;
    line-height: 26px;
    margin-top: 20px;
    text-align: center;
}

.follow-block {
    height: 22px;
    line-height: 22px;
    margin: 30px 0 0 0;
    font-size: 13px;
    color: #545454;
    letter-spacing: .03px;
}

.follow-block .wechat {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    background: url(../../images/web_blog/ctn_wechat.png) no-repeat;
    vertical-align: top;
    margin-left: 20px;
}

.follow-block .wechat:hover {
    background: url(../../images/web_blog/ctn_wechat_focus.png) no-repeat;
}

.follow-block .wechat img {
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -200px;
}

.follow-block .wechat:hover img {
    display: block;
}

.bottom .copyright {
    font-size: 13px;
    color: #B3B3B3;
    letter-spacing: .03px;
    margin-top: 20px;
}

.m-layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 12;
    opacity: .9;
}

.m-layer .chrome-tip {
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    font-size: 14px;
    color: #7f7f7f;
    text-align: center;
}

.m-layer .chrome-tip a {
    color: #09F;
    text-decoration: underline;
}

.m-layer .content {
    position: fixed;
    width: 280px;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -140px;
    text-align: center;
}

.m-layer .content h4 {
    margin: 22px 0 16px;
    font-size: 20px;
    color: #444;
    text-align: center;
    font-weight: normal;
}

.m-layer .content h5 {
    margin: 22px 0 16px;
    font-size: 20px;
    color: #444;
    text-align: center;
    font-weight: normal;
}

.m-layer .content li {
    font-size: 14px;
    color: #7f7f7f;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.5;
}

.m-layer .content .author {
    font-size: 12px;
    text-align: right;
}

.m-layer .j-timeout {
    position: absolute;
    width: 100%;
    height: 28px;
    line-height: 28px;
    top: 32%;
    z-index: 10;
    font-size: 18px;
    background: #FFF;
    color: #444;
}

.m-layer .close {
    display: inline-block;
    position: absolute;
    width: 59px;
    height: 59px;
    top: 0;
    right: 0;
    background: url(../../images/web_blog/close.png) no-repeat;
}

.m-layer .close:hover {
    background: url(../../images/web_blog/close.png) no-repeat;
}

.m-layer .close:active {
    background: url(../../images/web_blog/close.png) no-repeat;
}